*{
  margin: 0;
  padding: 0;
}
.conteiner{
  height: 100vh;
}

.header{
  width: 100%;
  height: 10%;
  padding: 10px;
  background-image: url(pictures/sky.jpg);
  background-size: cover;
}

.main{
  width: 80%;
  
  margin: 0 auto;
}

.form{
  width: 50%;
  padding:10px 0;
  margin: 0 auto;
}

.footer{
  height: 10%;
  width: 100%;
  padding: 10px;
  background-color: rgb(97, 121, 143);
}

.executor, .date{
font-size: 18px;
}

.weather_current, .weather_fivedays{
width: 40%;
}

.todo_item{
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgb(97, 121, 143);
}

.todo_item:hover{
  transform:scale(1.1,1.1);
}

