*{
  margin: 0;
  padding: 0;
  font-size: 18px;
}

.conteiner{
  position: relative;
}

.header{
  width: 100%;
  height: 10%;
  padding: 10px;
  background-image: url(pictures/sky.jpg);
  background-size: cover;
  position:sticky;
  top: 0;
  z-index: 2;
}

.main{
  width: 80vw;
  height: 80%;
  margin: 0 auto;
}

.form{
  padding:10px 0;
  margin: 0 auto;
  margin-bottom: 20px;
  flex-wrap: nowrap;
  justify-content: center;
}

.footer{
  height: 10%;
  width: 100%;
  padding: 10px;
  background-color: rgb(97, 121, 143);
}

.executor, .date{
  font-size: 18px;
}

/*.conteiner{
  margin-bottom: 50px;
}*/

.weather_current, .weather_fivedays{
  width: 40%;
}

.city{
  font-weight: bold;
}

.city, .degrees, .temp_like, .descr_weather, .param_weather{
  font-size: 18px;
}

.image-weather{
  width: 60px;
  height: 60px;
}

.ul_descr{
  padding:0px;
}

.ul_item{
  list-style-type: none;
}

.li_item{
  gap:5px;
  flex-wrap: nowrap;
}

.li_date, .li_temp{
 margin:0;
}

.speedwind{
  padding-right: 5px;
}

.title{
  display: none;
}

.todo_item{
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgb(97, 121, 143); 
  padding: 5px;
}

.todo_item:hover{
  transform:scale(1.1,1.1);
}


@media  screen and (max-width: 768px){
  .weather_fivedays{
  display:none;
  }
  .weather_current{
    width:100%;
  }
  .descr_weather{
    display: none;
  }
  .date{
    display: none;
  }
}
  


