*{
  margin: 0;
  padding: 0;
}

.header{
  width: 100%;
  height: 70px;
  padding: 10px;
  background-image: url(pictures/sky.jpg);
  background-size: cover;
}

.main{
  width: 80%;
  margin: 0 auto;
}

.form{
  width: 50%;
  padding:10px 0;
}

.footer{
  height: 70px;
  width: 100%;
  padding: 10px;
  background-color: rgb(97, 121, 143);
}

.executor, .date{
font-size: 18px;
}

